.about-me-content {
    height: 100vh;
}

#about-me-container {
    color: #8f32b4;;

    display: flex;
    width: 100vw;

    margin-top: 12.5%;
}

.about-image {
    width: 50%;
}

.about-image img {
    box-shadow: 0px 0px 15px #8f32b4;
    width: 50%;
    margin-left: 25%;
    transition: 0.2s ease-in-out; 
}

.about-image img:hover {
    transform: scale(1.03);
    box-shadow: 0px 0px 30px #9d36c5;
}

.about-text {
    text-align: center;
    font-size: 36px;
    width: 50%;
}

.about-text h1 {
    width: 50%;
    margin-left: 25%;
}