.about-me-content {
    height: 100vh;
}

#about-me-container {
    color: #8f32b4;;

    display: flex;
    width: 100vw;

    margin-top: 12.5%;
}

.knowledge-container {
    width: 100%;
    display: flex;
}

.knowledge-container div {
    text-align: center;
    width: 33%;
}

.knowledge-container div img {
    height: 50%;
}

@media screen and (max-width: 415px) {
    .about-me-content {
        height: auto !important;
    }
    
    .knowledge-container {
        display: block !important; 
    }

    .knowledge-container div {
        text-align: center !important;
        background-color: #8f32b4;
        color: #EEEEEE;
        width: 100vw !important;
        height: 50vh !important;
    }
}